body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.painting { 

 float:left;
 width:220px;
 height:220px;
 margin:10px;
 background-color: #4169E1;
 color:#fff;
 }
 .painting:hover {
 background-color: lightblue;
 cursor:pointer;
 }